	<h2 class="shadow-text plum-text center-text space-top-10">Colors</h2>
	<div class="row">
	<p class="center-text">Slice colors alow for a color palette range starting from a central color and giving five lighter and darker color options.</p>
		<ul class="col l8 offset-l4">
			<li>To use a color as a background place the color name in the class of the object.</li>
			<li>To use a color for text use the color name with -text (EX: plum-text)</li>
			<li>To use a lighter or darker color option for backgrounds use lighter-1 through lighter-5 and darker-1 through darker-5</li>
			<li>to use a lighter or darker color option for text use lighter-text-1 through lighter-text-5 and darker-text-1 through darker-text-5</li>
		</ul>
	</div>
	<div class="row">
		<div class="col l1">
			<div class="h25 text-center"></div>
			<div class="h25 text-right">.lighter-5</div>
			<div class="h25 text-right">.lighter-4</div>
			<div class="h25 text-right">.lighter-3</div>
			<div class="h25 text-right">.lighter-2</div>
			<div class="h25 text-right">.lighter-1</div>
			<div class="h25 text-right">.color</div>
			<div class="h25 text-right">.darker-1</div>
			<div class="h25 text-right">.darker-2</div>
			<div class="h25 text-right">.darker-3</div>
			<div class="h25 text-right">.darker-4</div>
			<div class="h25 text-right">.darker-5</div>
		</div>		<div class="col l2">
			<div class="h25 center-text bold-text">cherry</div>
			<div class="cherry lighter-5 h25"></div>
			<div class="cherry lighter-4 h25"></div>
			<div class="cherry lighter-3 h25"></div>
			<div class="cherry lighter-2 h25"></div>
			<div class="cherry lighter-1 h25"></div>
			<div class="cherry h25"></div>
			<div class="cherry darker-1 h25"></div>
			<div class="cherry darker-2 h25"></div>
			<div class="cherry darker-3 h25"></div>
			<div class="cherry darker-4 h25"></div>
			<div class="cherry darker-5 h25"></div>
		</div>
		<div class="col l2">
			<div class="h25 center-text bold-text">pumpkin</div>
			<div class="pumpkin lighter-5 h25"></div>
			<div class="pumpkin lighter-4 h25"></div>
			<div class="pumpkin lighter-3 h25"></div>
			<div class="pumpkin lighter-2 h25"></div>
			<div class="pumpkin lighter-1 h25"></div>
			<div class="pumpkin h25"></div>
			<div class="pumpkin darker-1 h25"></div>
			<div class="pumpkin darker-2 h25"></div>
			<div class="pumpkin darker-3 h25"></div>
			<div class="pumpkin darker-4 h25"></div>
			<div class="pumpkin darker-5 h25"></div>
		</div>
		<div class="col l2">
			<div class="h25 center-text bold-text">lemon</div>
			<div class="lemon lighter-5 h25"></div>
			<div class="lemon lighter-4 h25"></div>
			<div class="lemon lighter-3 h25"></div>
			<div class="lemon lighter-2 h25"></div>
			<div class="lemon lighter-1 h25"></div>
			<div class="lemon h25"></div>
			<div class="lemon darker-1 h25"></div>
			<div class="lemon darker-2 h25"></div>
			<div class="lemon darker-3 h25"></div>
			<div class="lemon darker-4 h25"></div>
			<div class="lemon darker-5 h25"></div>
		</div>
		<div class="col l2">
			<div class="h25 center-text bold-text">kiwi</div>
			<div class="kiwi lighter-5 h25"></div>
			<div class="kiwi lighter-4 h25"></div>
			<div class="kiwi lighter-3 h25"></div>
			<div class="kiwi lighter-2 h25"></div>
			<div class="kiwi lighter-1 h25"></div>
			<div class="kiwi h25"></div>
			<div class="kiwi darker-1 h25"></div>
			<div class="kiwi darker-2 h25"></div>
			<div class="kiwi darker-3 h25"></div>
			<div class="kiwi darker-4 h25"></div>
			<div class="kiwi darker-5 h25"></div>
		</div>
		<div class="col l2">
			<div class="h25 center-text bold-text">blueberry</div>
			<div class="blueberry lighter-5 h25"></div>
			<div class="blueberry lighter-4 h25"></div>
			<div class="blueberry lighter-3 h25"></div>
			<div class="blueberry lighter-2 h25"></div>
			<div class="blueberry lighter-1 h25"></div>
			<div class="blueberry h25"></div>
			<div class="blueberry darker-1 h25"></div>
			<div class="blueberry darker-2 h25"></div>
			<div class="blueberry darker-3 h25"></div>
			<div class="blueberry darker-4 h25"></div>
			<div class="blueberry darker-5 h25"></div>
		</div>
		<div class="col l2">
			<div class="h25 center-text bold-text">plum</div>
			<div class="plum lighter-5 h25"></div>
			<div class="plum lighter-4 h25"></div>
			<div class="plum lighter-3 h25"></div>
			<div class="plum lighter-2 h25"></div>
			<div class="plum lighter-1 h25"></div>
			<div class="plum h25"></div>
			<div class="plum darker-1 h25"></div>
			<div class="plum darker-2 h25"></div>
			<div class="plum darker-3 h25"></div>
			<div class="plum darker-4 h25"></div>
			<div class="plum darker-5 h25"></div>
		</div>
		<div class="col l2">
			<div class="h25 center-text bold-text">blade</div>
			<div class="blade lighter-5 h25"></div>
			<div class="blade lighter-4 h25"></div>
			<div class="blade lighter-3 h25"></div>
			<div class="blade lighter-2 h25"></div>
			<div class="blade lighter-1 h25"></div>
			<div class="blade h25"></div>
			<div class="blade darker-1 h25"></div>
			<div class="blade darker-2 h25"></div>
			<div class="blade darker-3 h25"></div>
			<div class="blade darker-4 h25"></div>
			<div class="blade darker-5 h25"></div>
		</div>
		<div class="col l7 offset-l1">
			<div class="h25 center-text bold-text">pepper</div>
			<div class="pepper h25"></div>
		</div>
		<div class="col l7">
			<div class="h25 center-text bold-text">salt</div>
			<div class="salt h25" style="border: 1px solid #555555"></div>
		</div>
	</div>
	<h2 class="shadow-text plum-text center-text">Type-Face</h2>
	<div class="row">
		<div class="col l8 offset-l4">
			<p>Slice uses CicleFina as the default type-face which offers a unique slim design.</p>
			<p>Two additional options are also available by adding the appropriate class tag to the element</p>
			<ul>
				<li><span class="bold-text">bold-text</span>: will offer you CicleGordita a wider version of CicleFina</li>
				<li><span class="shadow-text">shadow-text</span>: will give you access to CicleShadow, a wider version of CicleGordita with drop shadow. The shadow will be the text-color selected with a white fill</li>
			</ul>
		</div>
		<h1 class="cherry-text col l8 offset-l4">h1 - Cupcake ipsum dolor sit.</h1>
		<h2 class="cherry-text darker-text-1 col l8 offset-l4">h2 - Lemon drops gummi bears chocolate.</h2>
		<h3 class="cherry-text darker-text-2 col l8 offset-l4">h3 - Pudding biscuit marshmallow cake pudding.</h3>
		<h4 class="cherry-text darker-text-3 col l8 offset-l4">h4 - Chocolate tiramisu pudding sesame snaps icing cookie.</h4>
		<h5 class="cherry-text darker-text-4 col l8 offset-l4">h5 - Amet bonbon lollipop chocolate carrot cake chocolate bar.</h5>
		<h6 class="cherry-text darker-text-5 col l8 offset-l4">h6 - Topping danish gingerbread. Sugar plum caramels cupcake chocolate cake.</h6>
		<p class="pepper-text ligher-text-1 col l8 offset-l4">p - Cupcake ipsum dolor sit amet topping oat cake toffee cookie. Toffee candy brownie cotton candy. Lollipop brownie donut toffee ice cream pie tiramisu. Brownie chupa chups muffin tiramisu.
Bear claw sweet dessert caramels bear claw lemon drops. Apple pie cupcake tootsie roll marzipan. Carrot cake dragée donut sweet roll soufflé gingerbread chocolate bar.</p>
	</div>