	<h3 class="plum-text shadow-text space-top-20">Grid System</h3>
	<p class="space-top-10">The Slice grid system is based on a 16 column design alowing for a more grainular approach to opject placement on your application</p>
	<p class="space-top-10">The grid system is utilized by the following class tag of (class='col') followed by your desired width assignment. Examples of the system can be seen below</p>

	<div class="row">
		<div class="col s1 m1 l1">
			<p class='center-text'>1</p>
		</div>
		<div class="col s1 m1 l1">
			<p class='center-text'>2</p>
		</div>		
		<div class="col s1 m1 l1">
			<p class='center-text'>3</p>
		</div>
		<div class="col s1 m1 l1">
			<p class='center-text'>4</p>
		</div>	
		<div class="col s1 m1 l1">
			<p class='center-text'>5</p>
		</div>
		<div class="col s1 m1 l1">
			<p class='center-text'>6</p>
		</div>
		<div class="col s1 m1 l1">
			<p class='center-text'>7</p>
		</div>
		<div class="col s1 m1 l1">
			<p class='center-text'>8</p>
		</div>
		<div class="col s1 m1 l1">
			<p class='center-text'>9</p>
		</div>
		<div class="col s1 m1 l1">
			<p class='center-text'>10</p>
		</div>		
		<div class="col s1 m1 l1">
			<p class='center-text'>11</p>
		</div>
		<div class="col s1 m1 l1">
			<p class='center-text'>12</p>
		</div>	
		<div class="col s1 m1 l1">
			<p class='center-text'>13</p>
		</div>
		<div class="col s1 m1 l1">
			<p class='center-text'>14</p>
		</div>
		<div class="col s1 m1 l1">
			<p class='center-text'>15</p>
		</div>
		<div class="col s1 m1 l1">
			<p class='center-text'>16</p>
		</div>
	</div>
	<div class="row">
		<div class="col s1 m1 l1 cherry h50"></div>
		<div class="col s1 m1 l1 pumpkin h50"></div>
		<div class="col s1 m1 l1 lemon h50"></div>
		<div class="col s1 m1 l1 kiwi h50"></div>
		<div class="col s1 m1 l1 blueberry h50"></div>
		<div class="col s1 m1 l1 plum h50"></div>
		<div class="col s1 m1 l1 blade h50"></div>
		<div class="col s1 m1 l1 pepper h50"></div>
		<div class="col s1 m1 l1 cherry h50"></div>
		<div class="col s1 m1 l1 pumpkin h50"></div>
		<div class="col s1 m1 l1 lemon h50"></div>
		<div class="col s1 m1 l1 kiwi h50"></div>
		<div class="col s1 m1 l1 blueberry h50"></div>
		<div class="col s1 m1 l1 plum h50"></div>
		<div class="col s1 m1 l1 blade h50"></div>
		<div class="col s1 m1 l1 pepper h50"></div>
	</div>
	<div class="row space-top-10">
		<div class="cherry lighter-3 col l1 m1 s1 h50">
			<p class="pepper-text center-text">col l1 m1 s1</p>
		</div>	
		<div class="pumpkin lighter-3 col l2 m2 s2 h50">
			<p class="pepper-text center-text">col l2 m2 s2</p>
		</div>
		<div class="lemon lighter-3 col l3 m3 s3 h50">
			<p class="pepper-text center-text">col l3 m3 s3</p>
		</div>
		<div class="kiwi lighter-3 col l4 m4 s4 h50">
			<p class="pepper-text center-text">col l4 m4 s4</p>
		</div>
		<div class="blueberry lighter-3 col l6 m6 s6 h50">
			<p class="pepper-text center-text">col l6 m6 s6</p>
		</div>
	</div>