<div class="row">
	<div class="col l2 m4 s8 offset-l1 cherry h100"></div>
	<div class="col l2 m4 s8 plum h100"></div>
	<div class="col l2 m4 s8 blade h100"></div>
	<div class="col l2 m4 s8 kiwi h100"></div>
	<div class="col l2 m4 s8 blueberry h100"></div>
	<div class="col l2 m4 s8 lemon h100"></div>
	<div class="col l2 m4 s8 pumpkin h100"></div>
</div>
<div class="row">
	<div class="col l2 m4 s8 offset-l1 lemon h200"></div>
	<div class="col l2 m4 s8 pumpkin h200"></div>
	<h1 class="col l6 m8 s12 salt plum-text shadow-text h100 center-text" ">SliceCSS<br><span class="bold-text" style="font-size: 1.5rem">npm install slicecss<br>https://github.com/benammi/SliceCSS.git</span></h1>
	<div class="col l2 m4 s8 blade h200"></div>
	<div class="col l2 m4 s8 blueberry h200"></div>

</div>
<div class="row">
	<div class="col l2 m4 s8 offset-l1 cherry h100"></div>
	<div class="col l2 m4 s8 plum h100"></div>
	<div class="col l2 m4 s8 blade h100"></div>
	<div class="col l2 m4 s8 kiwi h100"></div>
	<div class="col l2 m4 s8 blueberry h100"></div>
	<div class="col l2 m4 s8 lemon h100"></div>
	<div class="col l2 m4 s8 pumpkin h100"></div>
</div>