<div class="row">
	<div class="col l2 m4 s8 cherry h100"></div>
	<div class="col l2 m4 s8 plum h100"></div>
	<div class="col l2 m4 s8 blade h100"></div>
	<div class="col l2 m4 s8 kiwi h100"></div>
	<div class="col l2 m4 s8 blueberry h100"></div>
	<div class="col l2 m4 s8 lemon h100"></div>
	<div class="col l2 m4 s8 pumpkin h100"></div>
	<div class="col l2 m4 s8 pepper h100"></div>
</div>
<div class="row">
	<div class="col l2 m16 s8 lemon h125"></div>
	<div class="col l2 m4 s8 pumpkin h125"></div>
	<div class="col l8 m8 s16 salt h125"><h1 class="plum-text shadow-text center-text">SliceCSS</h1><p class="bold-text plum-text center-text" style="font-size: 1.5rem">npm install slicecss</p><p class="bold-text plum-text center-text"> https://github.com/jbenammi/SliceCSS.git</p></div>
	<div class="col l2 m4 s8 blade h125"></div>
	<div class="col l2 m16 s8 blueberry h125"></div>

</div>
<div class="row">
	<div class="col l2 m4 s8 cherry h100"></div>
	<div class="col l2 m4 s8 plum h100"></div>
	<div class="col l2 m4 s8 blade h100"></div>
	<div class="col l2 m4 s8 kiwi h100"></div>
	<div class="col l2 m4 s8 pepper h100"></div>
	<div class="col l2 m4 s8 blueberry h100"></div>
	<div class="col l2 m4 s8 lemon h100"></div>
	<div class="col l2 m4 s8 pumpkin h100"></div>
</div>